In [4]:
import NanowireMesh as nwm
import numpy as np
import NanowireNetworkEvolutionFunctions as nnef
from matplotlib import pyplot as plt
from pathlib import Path
import pandas as pd
from scipy.special import jv, jvp, hankel1, h1vp

Extracting the data from bergen2012 (https://pubs.rsc.org/en/content/articlelanding/2012/nr/c2nr30126a/unauth)

In [5]:
df = pd.read_csv(
    'berginEffectNanowireLength2012_extincion_efficiency_extracted.csv',
    header = None,
    names = ['Diameter (nm)', 'Efficiency']
)

generating simulated data. Remember that the bergen data got the non-dimensional efficiency by dividing the extinction coefficient, C_ext by the nanowire diameter

In [14]:
df['adam'] = df.apply(
    lambda x : nwm.extinction_coefficient(
        radius = x['Diameter (nm)']*1E-9,
        mr = 0.055 + 3.32j,
        wavelength = 550E-9
    ) / (x['Diameter (nm)'] * 1E-9),
    axis = 1
)
df

    Diameter (nm)  Efficiency      adam
0        9.714286    0.125000  0.221126
1       20.000000    0.227273  0.863857
2       29.714286    0.420455  1.529391
3       39.428571    0.619318  2.125879
4       50.285714    0.806818  2.719971
5       74.857143    1.198864  3.607643
6      100.000000    1.505682  3.851340
7      149.714286    1.812500  4.275126
8      200.000000    2.039773  4.392590
9      249.714286    2.090909  4.498660
10     300.000000    2.153409  4.588173

In [20]:
khanarian_df = pd.DataFrame()
khanarian_df['Diameter (nm)'] = 100,70,56,71,132,153
khanarian_df['Length (um)'] = 36, 16, 8.6, 7.6, 14.8, 4.8
khanarian_df['C_ext / wire area'] = 1.59, 1.12, 0.814, 1.14, 1.83, 1.91
khanarian_df['adam C_ext / wire area'] = khanarian_df.apply(
    lambda x : nwm.extinction_coefficient(
        radius = x['Diameter (nm)'] / 2 * 1E-9,
        mr = 0.055 + 3.32j,
        wavelength = 600E-9
    ) / (x['Diameter (nm)']*1E-9),
    axis = 1
)
khanarian_df

   Diameter (nm)  Length (um)  C_ext / wire area  adam C_ext / wire area
0            100         36.0              1.590                1.242903
1             70         16.0              1.120                0.840646
2             56          8.6              0.814                0.629623
3             71          7.6              1.140                0.855081
4            132         14.8              1.830                1.592745
5            153          4.8              1.910                1.750103

In [21]:
khanarian_df.iloc[:,2] / khanarian_df.iloc[:,3]

0    1.279263
1    1.332309
2    1.292836
3    1.333208
4    1.148960
5    1.091364
dtype: float64